<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/2b9cdc1c9a.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" href="/product.css" />
    <title>Product</title>
  </head>
  <body>
    <script>
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var enrollButton = document.getElementById("enroll-link");
      var destinationValue = enrollButton.getAttribute("href");

      var raw = JSON.stringify({
        api_key: "6wncPRGLI4NPUsnzwkNGeTJ0RJ23",
        monetization: true,
        destination: destinationValue,
        ad_page: 1,
        category: "Education",
        tags: [
          "trendinglinks",
          "udemy",
          "courses",
          "technology",
          "coding",
          "programming",
        ],
        monetize_with_money: false,
        price: 0,
        currency: "INR",
        purchase_note: "",
      });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch("https://api.shareus.io/generate_link", requestOptions)
        .then((response) => response.json()) // Parse the response as JSON
        .then((data) => {
          if (data && data.status === "success" && data.link) {
            // Update the button link with the shortened link
            enrollButton.setAttribute("href", data.link);
            console.log("Shortened link:", data.link);
          } else {
            console.log("Unable to retrieve shortened link.");
          }
        })
        .catch((error) => console.log("Error:", error));
    </script>
    <!-- Code for navbar -->
    <%- include('header.ejs') %>

    <div class="md:flex">
      <div
        class="right flex justify-center m-7 md:w-full md:h-1/2 md:m-auto md:items-center"
      >
        <img src="<%= course.image %>" class="headerImg" alt="" />
      </div>
      <div class="left align-middle md:ml-0">
        <div
          class="learn text-black text-2xl md:mt-10 md:pt-12 ml-7 text-left md:ml-0"
          id="classKMKB"
        >
          <%= course.h1 %>
        </div>
        <div class="text text-base text-left ml-7 md:ml-0">
          <h2 class="text-xl md:text-3xl mb-2 mt-4 text-black specialFont">
            Description
          </h2>
          <div class="md:text-xl md:max-w-2xl"><%= course.desc %></div>
          <h2 class="text-xl mt-6 mb-5 text-black md:text-3xl specialFont">
            Price: <s class="text-red-600"><%= course.price %></s>
            <span class="text-green-800">Free!!</span>
          </h2>
        </div>

        <div class="deskBtn text-center md:text-left md:ml-0 mb-7">
          <a href="<%= course.link %>" target="_blank" id="enroll-link">
            <button class="btn">Enroll Now</button>
          </a>
        </div>
      </div>
    </div>

    <!-- Code for similar courses wala card -->
    <div class="header text-3xl md:text-4xl">
      <h1>Similar Courses</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="content">
          <% randomCourses.forEach(function(link) { %>
          <a href="/course/<%=randomPage %>/<%= link.h1 %>">
            <div class="card flex flex-col justify-between pb-6">
              <img src="<%= link.image %>" alt="" />
              <h4><%= link.h1 %></h4>
              <p><%= link.desc %></p>
              <button class="cardBtn ml-auto mr-auto">
                <span>Preview This Course</span>
              </button>
            </div>
          </a>
          <% }); %>
        </div>
      </div>
    </div>

    <!-- code for footer -->
    <div class="foot text-white mt-20">
      <footer>
        <div
          class="flex flex-col md:flex-row justify-center md:justify-between"
        >
          <div class="footerAbout w-72 text-sm pb-10 m-auto">
            <h3 class="mb-5 pt-10 md:text-lg font-extrabold aboutHeading">
              ABOUT
            </h3>
            <p class="footerSpan text-xs md:text-base">
              Finding the right Online Course is difficult, Freedemy makes it
              easy for you get free course with certificate
            </p>
          </div>

          <div class="bgd m-auto">
            <div class="socials">
              <span class="social-media-buttons">
                <a class="social-media-button">
                  <i class="fa-brands fa-telegram fa-2xl"></i>
                </a>
                <a
                  href="https://www.instagram.com/freedemy4you/"
                  target="_blank"
                  class="social-media-button"
                >
                  <i class="fa-brands fa-instagram fa-2xl"></i>
                </a>
                <a class="social-media-button">
                  <i class="fa-brands fa-linkedin fa-2xl"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <hr />

        <div class="footerContainer flex md:justify-between text-xs pt-7 pb-7">
          <div class="love hidden md:block ml-auto mr-auto">
            <span> Made with 🤍 | FreeDemy</span>
          </div>

          <div class="credit m-auto">
            © 2023 Freedemy Inc. All rights reserved.
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
